<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Ebay.com">
  <classes>
    <class name="EbayfirstSearch" />
  </classes>
  </test>
  
  <test  name="linkedin">
  <classes>
  <class name="MyPackage.Linkedin"  />
  </classes> 
  </test>
  
  
   <!-- Test -->
</suite> <!-- Suite -->
